body{
  text-align: center;
}
header{
  background-color: blue;
  height:150px;
}
nav{
  background-color: pink;
  width: 30%;
}

main{
  background-color: green;
  width: 70%;
}

section{
  background-color: grey;
  height: 200px;
  width: 30%;
  margin: 1%;
}

footer{
  background-color: red;
  height: 150px;
}

.flex{
  display: flex;
  width: 100%;
  justify-content: space-around;
}